.sec6{
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.sec6-texts{
    width: 100%;
    height: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sec6-title{
    font-size: clamp(25px,4vw,45px);
    font-weight: bold;
}

.sec6-text{
    font-size: 15px;
    text-align: center;
    color: #777777;
}


.sec6-boxes{
    width: 100%;
    height: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.sec6Box{
    max-width: 95%;
    width: 300px;
    height: 550px;
    box-shadow: 0px 20px 30px rgba(153, 153, 153, 0.2);
}

.sec6BoxImgPlace{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.sec6BoxTexts{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;

}

.userImg{
    width: 100%;
    height: 100%;
    transition: .3s;
}

.sec6BoxTitle{
    font-size: clamp(21px,3vw,30px);
    font-weight: bold;
}

.sec6BoxText{
    text-align: center;
    color: #777777;
}

.sec6BoxReTitle{
    color: #777777;
    margin-bottom: 15px;
}

.social{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.round{
    width: 35px;
    height: 35px;
    border: 1px solid #777777;
    border-radius: 100%;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round:hover{
    background-color: #60bc0f;
    border: 1px solid transparent;
}

.icon{
    color: #777777;
    font-size: 17px;
}

.round:hover .icon{
    color: white;
}

.sec6Box:hover .userImg{
    transform: scale(1.2);
}