.sec1{
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/layers/background.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
}

@keyframes zoom {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1.0);
        opacity: 1;
    }
}

.sec1-title1{
    color: #FDBB00;
    font-size: clamp(32px,7vw,55px);
    z-index: 5;
    transform: scale(0);
    opacity: 0;
    animation: .8s zoom .5s forwards;
}

.sec1-title2{
    color: #ffffff;
    font-size: clamp(32px,7vw,55px);
    z-index: 5;
    font-weight: bold;
    text-align: center;
    transform: scale(0);
    opacity: 0;
    animation: .8s zoom 1s forwards;
}

.sec1-text{
    text-align: center;
    color: white;
    font-size: 15px;
    z-index: 5;
    transform: scale(0);
    opacity: 0;
    animation: .8s zoom 1.8s forwards;
}


.sec1::before{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.521);
    position: absolute;
    left: 0;
    top: 0;
}

.btns{
    width: auto;
    height: auto;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .3s;
    transform: scale(0);
    opacity: 0;
}



.btn1{
    background-color: #FDBB00;
    animation: .8s zoom 2.2s forwards
}

.btn2{
    background-color: #60bc0f;
    animation: .8s zoom 2.6s forwards
}


.btn1:hover{
    background: transparent;
    border: 1px solid #FDBB00;
}

.btn2:hover{
    background: transparent;
    border: 1px solid #60bc0f;
}


.btn:active{
    transition: 0s;
    transform: scale(0.8);
}


